.nifty-menu-options-settings-container {
    padding-top: 15px;
    padding-bottom: 7px;
}
.nifty-menu-options-settings-inner {
    display: block;
    color: #72777c;
    font-size: 12px;
    font-style: italic;
    padding: 0 5px;
    border: 1px solid #ddd;
}
.nifty-icon-picker {
    text-decoration: none;
    &:focus {
        box-shadow: none;
    }
    * {
        display: inline-block;
        vertical-align: middle;
    }
    .nifty-icon-selected {
        color: #212121;
        font-size: 18px;
        margin-left: 5px;
    }
}
.nifty-section {
    padding: 10px 0 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}
// Thinkbox Modal
#TB_title {
    &.nifty-thickbox-title {
        height: auto;
        min-height: 40px;
    }
    #TB_ajaxWindowTitle {
        h2 {
            width: 100%;
            margin: 0;
            padding: 5px 0;
            display: inline-block;
        }
    }
}

ul.nifty-icon-selector-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: -2px -12px;
    li.nifty-icon-item {
        width: 100%;
        position: relative;
        flex-grow: 1;
        flex-basis: 10%;
        max-width: 10%;
        text-align: center;
        margin: 0;
    }
    .nifty-icon-label {
        width: 100%;
        color: #4c4c4c;
        padding: 15px 0;
        border: 1px solid #E0E0E0;
        display: inline-block;
        transition: background color 0.15s ease-in-out;
        &.selected,
        &:hover {
            color: #00b8ff;
            background-color: #cef2f7;
            .nifty-displayed-icon {
                transform: scale(1.5);
            }
        }
        .nifty-icon-selector {
            display: none;
        }
        .nifty-displayed-icon {
            font-size: 1.25em;
            transition: transform 0.15s ease-in-out;
        }
    }
}
.nifty-remove-icon {
    color: #72777c;
    transition: color 0.25s ease-in-out;
    float: right;
    &:hover {
        color: #F44336;
    }
    &:focus {
        color: #F44336;
        box-shadow: none;
    }
}
.label_vcenter label {
    position: relative;
    top: -4.5px;
}
.nifty-icon-color-picker-wrap {
    .wp-color-result.button {
        margin: 0;
    }
}
